@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

/*@font-face {
    font-family: 'Inter';
    font-style: normal;
    src: url('/Inter.ttf') format('truetype');
}*/

@theme {
    --font-sans: 'Inter', sans-serif;

    --color-primary: #09090B;
    /*--color-primary-light: #;*/
    --color-primary-dark: #09090B;
    --color-secondary: #1E1E1E;
    /*--color-secondary-light: #FEEBC8;*/
    --color-secondary-dark: #1E1E1E;
    --color-accent: #313ED8;
    --color-second-accent: #DD3434;
}

html {
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; 
}



.custom-scrollbar::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
	background: rgba(30, 30, 30, 0.5);
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
	background: #1e1e1e;
	border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
	background: rgba(115, 115, 115, 0.5);
    cursor: s-resize;
}

.highlight {
    animation: highlight 3s ease-in-out infinite;
}

@keyframes highlight {
    0% {
        outline: 2px solid transparent;
        outline-offset: 5px;
    }
    50% {
        outline: 2px solid var(--color-accent);
        outline-offset: 5px;
    }
    100% {
        outline: 2px solid transparent;
        outline-offset: 5px;
    }
}

.leaflet-control-attribution {
    opacity: 0.5 !important;
    background: rgba(0, 0, 0, 0.25) !important;
    border-radius: 5px 0px 0px 0px !important;
    color: rgba(255, 255, 255, 0.5) !important;
    z-index: 500 !important;
}

.leaflet-pane {
    z-index: 1 !important;
}

.recharts-brush rect:focus, .recharts-brush-traveller {
    outline: none;
}

.recharts-brush-slide {
    padding: 10px !important;
}

.recharts-wrapper *:focus {
  outline: none;
}

.recharts-wrapper:focus {
  outline: none;
}